body { 
    margin: 0; 
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#scene1{
    position: absolute;
    top: 20px;
    padding: 5px 15px;
    right: 30px;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    color: black;
    z-index: 1000;
}